# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements
    - name: Download data
      run: |
        python download_data.py --data_dir data
    - name: Run test
      run: |
        GIT_COMMIT=$(git log -1 --format='%H')
        python -m benchmark --scanner credsweeper | tee benchmark.txt
        STATE="benchmark"
        DESCRIPTION="$(cat benchmark.txt)"
        CONTEXT="CI / benchmark"
        curl -v -i -f -d "{\"state\":\"$STATE\", \"description\":\"$DESCRIPTION\", \"context\":\"$CONTEXT\"}" -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Content-Type: application/json" -X POST "https://github.com/api/v3/repos/$GITHUB_REPOSITORY/statuses/$GIT_COMMIT"
        
    - name: benchmark report
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: benchmark.txt
        path: benchmark.txt
        
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

